@tailwind base;
@tailwind components;
@tailwind utilities;


input {
    gap: 20px;
    background: transparent;
    border-bottom: 1px solid #451a03;
    width:250px;
}
button{
   height: 50px;
   width: 300px;
    background-color: #451a03;
    justify-content: center;
}
option {
    margin: 20px;
}